# Python
__pycache__/
*.pyc
*.pyo
*.pyd
stalkr_env/
venv/
env/
# macOS/OS junk
.DS_Store
# Editor files
.vscode/
.idea/
# Credentials/secrets
*.env
# Apps Script clasp files (optional)
.clasp.json



